.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 140px;

  border: 1px solid #AAAAAA;

  background: #111;
  border-radius: 2px;
  transition: all 0.3s;
  cursor: pointer;

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  &.selected {
    border: 4px solid white;
  }

  &.small {
    width: 30px;
    height: 30px;
    margin: 1px;

    img {
      width: 20px;
    }
  }
}