<div class="game-wrapper">
  <div class="game-container text-gray-200 flex flex-col md:flex-row bg-gray-600 w-[90%] mx-auto md:mt-10 md:rounded-lg md:shadow-lg">
    <div class="game-board w-full md:w-3/4 md:mr-0">
      <app-card 
        *ngFor="let card of gameService.hand" 
        [card]="card" 
        [selected]="card.selected || false" 
        (click)="selectCard(card)" 
      />
    </div>
    <div class="stats w-full md:w-2/7">
      <div class="text-sm">
        <p>
          <span class="font-bold">Deck Size</span> 
          <span class="float-right">{{ gameService.stats().size }}</span>
        </p>
        <p>
          <span class="font-bold">Incorrect Matches</span> 
          <span class="float-right">{{ gameService.stats().fails }}</span>
        </p>
        <p>
          <span class="font-bold">Started on</span> 
          <span class="float-right">{{ gameService.stats().dateStarted | date:'short' }}</span>
        </p>
        <!-- <p>
          <span class="font-bold">Time Played</span>
          <span class="float-right">{{ timePlayed }}</span>
        </p> -->
      </div>
    </div>
  </div>
</div>