<div class="game-wrapper">
  <div class="game-container text-gray-200 flex flex-col md:flex-row  w-[90%] mx-auto  md:rounded-lg md:shadow-lg">
    <div class="game-board w-full md:w-3/5 md:mr-0">
      @for(card of gameService.hand; track card.id) {
        <game-card 
          [card]="card" 
          [selected]="card.selected || false" 
          (click)="selectCard(card)" 
        />
      }
    </div>

    <div class="stats w-full md:w-2/5">
      <div class="text-sm">
          <button class="red" (click)="deleteGame()">
            Delete Game
          </button>
        <p>
          <span class="font-bold">Deck Size</span> 
          <span class="float-right">{{ gameService.stats().size }}</span>
        </p>
        <p>
          <span class="font-bold">Incorrect Matches</span> 
          <span class="float-right">{{ gameService.stats().fails }}</span>
        </p>
        <p>
          <span class="font-bold" style="padding-right: 100px;">Started on</span> 
          <span class="float-right">{{ gameService.stats().dateStarted | date:'dd-MM-YYYY HH:mm' }}</span>
        </p>
      <div>
        <h1 class="font-bold">Upcoming Cards</h1>
        <div class="flex flex-wrap">
          @for(card of gameService.deck; track card.id) {
            <game-card 
              [card]="card" 
              [selected]="false" 
              [small]="true"
              (click)="selectCard(card)"
            />
          }
      </div>
      </div>
    </div>
  </div>
</div>